.button{
    -fx-background-color: #4f9cdc;
    -fx-text-fill: white;
    -fx-border-width: 1;
    -fx-border-color: #003d71;
}
.button:hover{
    -fx-background-color: #408ccb;
}
.button:focused{
    -fx-background-color: #408ccb;
}
.title-label{
    -fx-background-color: #a6cdf1;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}
.combo-box{
    -fx-background-color: #a6cdf1;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}
.background{
    -fx-background-image: url("images/fon.png");
    -fx-background-size: cover;
}
.center{
    -fx-background-color: #e7f4ff;
}
.bordered-widow{
    -fx-border-width: 1;
    -fx-border-color: #003d71;
}

